.education-item {
  background-color: #f5ebde; 
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #d48383;
}

.education-degree {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(104, 6, 6);
}

.education-year {
  color: #344e41;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 10px;
}

.education-desc {
  color: #333;
}

.edu-add-btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 14px;
  background-color: #cbeef3;
  color: rgb(104, 6, 6);
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
}

.edu-add-btn:hover {
  background-color: #bc4749;
  color: #fff;
}

.edu-delete-btn {
  margin-top: 10px;
  padding: 6px 10px;
  background: #bc4749;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.edu-delete-btn:hover {
  background: red;
}

.edu-edit-btn {
  margin-top: 10px;
  margin-right: 20px;
  padding: 6px 10px;
  background: #cbeef3;
  color: rgb(104, 6, 6);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.edu-edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.edu-edit-form input,
.edu-edit-form textarea {
  padding: 8px;
  border: 1px solid #999;
  border-radius: 5px;
  width: 100%;
}

.edu-edit-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.save-btn {
   background: #4caf50;
   color: white;
   border: none;
   padding: 6px 12px;
   border-radius: 4px;
   cursor: pointer;
}

.cancel-btn {
   background: #e63946;
   color: white;
   border: none;
   padding: 6px 12px;
   border-radius: 4px;
   cursor: pointer;
}

