.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f1dc;
}

.landing-buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.landing-btn {
  padding: 12px 30px;
  border-radius: 8px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(104, 6, 6);
  background: #cbeef3;
  transition: 0.3s ease-in-out;
}

.landing-btn:hover {
  background: #bc4749;
  color: white;
}

.signin-btn {
  background: #a3d2ca;
}

.signup-btn {
  background: #f7d9c4;
}
