.projects-container {
  padding: 20px;
}

.projects-title {
  font-size: 34px;
  margin-bottom: 100px;
    color: rgb(104, 6, 6);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projects-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: 400px;
  text-align: center;
  background: #f5ebde;
  border: 1px solid #d48383;
  color: #1C352D;
  transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 350px;
  height: 200px;
  /* border-radius: 8px;
  margin-bottom: 10px; */
}

.project-card h3 {
  margin: 10px 0;
}

.add-project-btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 14px;
  background-color: #cbeef3;
  color: rgb(104, 6, 6);
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
}

.add-project-btn:hover {
  background-color: #bc4749;
  color: #fff;
}

.project-delete-btn {
  margin-top: 10px;
  padding: 6px 10px;
  background: #bc4749;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.project-delete-btn:hover {
  background: red;
}

.project-edit-btn {
  margin-top: 10px;
  margin-right: 20px  ;
  padding: 6px 10px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background: #DBE4C9;
  color: #1C352D;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.edit-form input,
.edit-form textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #777;
}

.edit-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.save-btn {
  background: #2a9d8f;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  background: #e63946;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
