.signup-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.signup-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgb(104, 6, 6);
  font-weight: 600;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: #f5ebde;
  color: #1C352D;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #d48383;
}

.signup-form input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgb(104, 6, 6);
  background: white;
  color: seagreen;
}

.signup-form button {
  padding: 12px;
  background: #cbeef3;
  color: rgb(104, 6, 6);
  border: 1px solid #d48383;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.signup-form button:hover {
  background: #bc4749;
  color: white;
  transform: translateY(-2px);
}

.signup-error {
  color: red;
  font-size: 0.9rem;
  margin-top: -5px;
}
